/* debug.css
* 
* NOTES:;
* 	POSTS:
* 	- "Height always stays auto!" display: inline doesn't work with
* 	transforms or with height settings - height will always be auto.
*/

/* ================================ */
/* ICON STYLE TOGGLE BUTTON */
/* ================================ */

#icon_size_form {
	position: fixed;
	top: 1rem;
	right: 2rem;	
}

form * {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.CodeMirror.test-editor .CodeMirror-linenumber {
	/*transform: translate( 0, 30%);*/
}

/* See NOTES at top */
/*.CodeMirror.test-editor .CodeMirror-widget.test-height {
	transform: translate( 0, 50% );
}*/
