/*editor-and-extras.css*/

/* ========================= */
/* HOTBAR/EDITOR ARRANGEMENT */
/* ========================= */
.test-editor {
	width: 100%;
	height: 100%;
}

.icon-hotbar {
	float:left;
	display: inline-block;
	margin-right: 0.5%;

	/* For Side-to-Side */
	/*height: 300px;*/
	height: 100%;
	/*width: 9.5%;*/
	width: 19.5%;

	background-color: #262626;
	color: lightgray;
}

.icon-hotbar h3 {
	margin: 0 auto;
	padding: 0.2rem 0.5rem;
	text-align: center;
}

.icon-hotbar-icons {
	margin: 0;
	padding: 0 1rem;
	list-style: none;
	text-decoration: none;
}


/* For Side-to-Side */
.editor-container {
	position: relative;
	width: 80%;
	height: 100%;
	display: inline-block;
}

/* ========================= */
/* BUTTONS */
/* ========================= */
button {
	/* Resetting styles */
	position: absolute;
	top: 0.35rem;
	right: 0.35rem;
	border: 0px solid black;
	color: black;
	padding: 0 0.2rem;

	/* http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
	background: none repeat scroll 0 0 gray;
	/*border: medium none;*/
	border-spacing: 0;
	/*color: #26589F;*/
	/*font-family: 'PT Sans Narrow',sans-serif;*/
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42rem;
	list-style: none outside none;
	margin: 0;
	/*padding: 0;*/
	text-align: left;
	text-decoration: none;
	text-indent: 0;

	z-index: 100;
}
button:hover {
	background-color: dimgray;
}
button:active {
	background-color: darkgray;
}

/* http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

