/*editor-and-extras.css*/

/* ========================= */
/* HOTBAR */
/* ========================= */

/* App */
/* Side-to-Side */
.editor-area, .output {
	float: left;
	height: 100%;
	top: 0;
	bottom: 0;
	border: none;
}

.editor-area {
	width: 52%;
}

.output{
	width: 47.5%;
	margin-left: 0.5%;
	overflow: scroll;

	background-color: gray;
}


/* --- Editor Arrangement */
.test-editor {
	width: 100%;
	height: 100%;
}

/* For Side-to-Side */
.editor-container {
	position: relative;
	width: 83%;
	height: 100%;
	display: inline-block;
}

.icon-hotbar {
	float:left;
	display: inline-block;
	margin-right: 0.5%;

	/* For Side-to-Side */
	/*height: 300px;*/
	height: 100%;
	/*width: 9.5%;*/
	width: 16.5%;

	background-color: #262626;
	color: lightgray;
}

/* --- Inside --- */
.icon-hotbar h3 {
	margin: 0 auto;
	padding: 0.2rem 0.5rem;
	text-align: center;
}

.icon-hotbar-icons {
	margin: 0;
	padding: 0 1rem;
	list-style: none;
	text-decoration: none;
}

/* ========================= */
/* BUTTONS */
/* ========================= */
button {
	/* Always want buttons on top? */
	z-index: 2000;

	/* --- RESET --- */
	/* Mine */
	border: 0px solid black;
	color: black;
	padding: 0 0.2rem;

	/* http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
	background: none repeat scroll 0 0 gray;
	border-spacing: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42rem;
	list-style: none outside none;
	margin: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;

}
button:hover {
	background-color: dimgray;
}
button:active {
	background-color: darkgray;
}

/* http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* ========================= */
/* TOGGLE */
/* ========================= */
.icon-toggle {
	position: absolute;
	top: 0.35rem;
	right: 0.35rem;
}

.cache-commands {
	z-index: 2000;

	position: absolute;
	bottom: 0.35rem;
	right: 0.35rem;

	pointer-events: none;
}

.save, .clear {
	float: right;
	clear: both;

	pointer-events: auto;
}

.save {
	margin-bottom: 0.2rem;
}
