/*editor-and-extras.css*/

.test-editor {
	width: 100%;
	height: 100%;
}

.icon-hotbar {
	float:left;
	display: inline-block;
	margin-right: 0.5%;

	/* For Side-to-Side */
	/*height: 300px;*/
	height: 100%;
	/*width: 9.5%;*/
	width: 19.5%;

	background-color: #262626;
	color: lightgray;
}

.icon-hotbar h3 {
	margin: 0 auto;
	padding: 0.2rem 0.5rem;
	text-align: center;
}

.icon-hotbar-icons {
	margin: 0;
	padding: 0 1rem;
	list-style: none;
	text-decoration: none;
}


/* For Side-to-Side */
.editor-container {
	width: 80%;
	height: 100%;
	display: inline-block;
}
