/* iconocode-testing.css
* Testing with backgrounds instead of shapes
* since I can't figure out shapes right now
*/

/*iconocode.css*/

.icd, .icd div, .icd section {
	padding: 0;
	margin: 0;

	display: inline-block;
	/*vertical-align: middle;*/
	box-sizing: border-box;

	/* Need to decide on font */
	font-family: monospace;
	font-weight: normal;
}

.icd .icon-container div,
.icd section, .icd div {
	/* These next two break something in CodeMirror.
	Will have to deal with individual instances of position: absolute */
	/*position: relative;*/
	/*display: inline-block;*/
	vertical-align: top;
	transform-origin: center;\

	/*border: 1px solid gray;*/
	background-color: rgba(0, 0, 0, 0);
}

.icd section { position: relative; }


/* --- LISTS --- */
.icd ol, .icd ul, .icd li {
	padding: 0;
	/*background-color: lightgray;*/
	margin: 0;
}
.icd li {
	list-style: none;
}
/* for lesser-dark theme */
.icd ol, .icd ul {
	background-color: rgb(60,60,60);
}


/* =================== */
/* SELECTED */
/* =================== */
/* Active tabs have the same color as selected items */
.icd .selected, .icd .active-tab {
	/* for lesser-dark theme */
	background-color: rgb( 90, 90, 90 );
	/*background-color: rgb( 165, 165, 165 );*/
}


/* ================== */
/* ICON (!!! Moved to purposes/purposes.css !!!) */
/* ================== */



/* =================== */
/* ALL TABS */
/* =================== */
.icd .tab {
	text-align: center;
	/* for lesser-dark theme */
	border-right: 1px solid rgb( 60, 60, 60 );

	/*border-right: 1px solid rgb( 150, 150, 150 );*/
}
.icd .tab.last { border-right: none; }
/*.icd .tab.selected { background-color: rgb( 165, 165, 165 ) }*/


/* TODO: Move to appropriate section */
.icd .icd-tag-list-container { display: none; }
.icd .selected .icd-tag-list-container { display: block; }
.icd .icd-choice-container.selected { z-index: 100; }


/* =================== */
/* ADDER */
/* =================== */
/* Calculate position based on text that was selected
or scroll code till position will be just under text,
unless the text is too low or too heigh, in which case
switch sides, unless there's no room, in which case... I dunno.
I mean, it's position absolute, so it's not going to
be scrollable... make it position: relative?
*/
.icd.icon-adder {
	/*position: absolute;*/
	position: fixed;
	left: calc( 50% - 20rem/2 );
	top: calc( 50% - 10rem/2 );
	/* Make sure it's in front of anything else. Weird Code Mirror issues. */
	z-index: 2000;

	width: 20rem;
	height: auto;

	/* for lesser-dark theme */
	background-color: rgb(38,38,38);
	border-right: 1px solid rgb( 60, 60, 60 );
	border-left: 1px solid rgb( 60, 60, 60 );
	color: lightgray;

	/*background-color: rgb( 200, 200, 200 );*/
	/*border-right: 1px solid rgb( 150, 150, 150 );*/
	/*border-left: 1px solid rgb( 150, 150, 150 );*/
	font-size: 1rem
}

.icd.icon-adder section {
	width: 100%;

	/* for lesser-dark theme */
	border-top: 1px solid rgb( 60, 60, 60 );
	border-bottom: 1px solid rgb( 60, 60, 60 );

	/*border-top: 1px solid rgb( 150, 150, 150 );*/
	/*border-bottom: 1px solid rgb( 150, 150, 150 );*/
}


/* --------------------------------------- */
/* --- TABS --- */
/* --------------------------------------- */
/* This messes up all the spacing calculation */
.icd .adder-mode-tabs {
	position:static;
	min-height: 1.2rem;
}

.icd .adder-mode-tab {
	height: 1.4rem;
	padding-top: .1rem;
	/*width: 50%;*/
}


/* --------------------------------------- */
/* --- VIEWER --- */
/* --------------------------------------- */
.icd .adder-icon-viewer-container {
	padding: 0 .5rem;
	/* To make room for horizontal scroll bar */
	height: 2rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
}
.icd .adder-icon-viewer {
	position: absolute;
	top: 50%;
	transform: translate( 0, -50% );

	color: rgb( 140, 140, 140 );
}
.icd .CodeMirror img {

	max-height: 1rem;

}


/* --------------------------------------- */
/* --- PICKERS --- */
/* --------------------------------------- */
.icd .adder-picker {
	height: 9rem;
	/* for some reason makes images oversized */
	/*width: 100%;*/
	overflow: scroll;
}


/* --- TYPE PICKER --- */
#icd_types_picker {
	/*background-color: darkkhaki;*/
}

.icd .types-picker-row {
	width: 100%;
	height: 75%;
}

.icd .type-choice-container {
	text-align: center;
	margin-top: 5%;
	/* Why does this go out of the parent? */
	height: 95%;
}

.icd .type-choice-container .icon-container {
	display: block;
	margin: 0 auto;
	margin-top: .7rem;
	width: 65%;
	height: 30%;
}
.icd .type-choice-container .icon-body {
	/*height: calc(1.3rem * 2);*/
	/*min-width: calc(1.5rem * 2);*/

	/* Focus outline is weird because it doesn't include the end shapes */
	/*height: 100%;*/
	/*width: 100%;*/
}
.icd .type-choice-container .icon-container path {
  stroke-width: 3px;
}
.icd .type-choice-container .icon-container line {
  stroke-width: 3px;
}


/* --- IMAGE PICKER --- */
/* Maybe way to do image size to maximize
image http://jsfiddle.net/0bmws0me/1/ (from ThePendulum something),
but maybe we want the images to be their proper size?
*/
#icd_images_picker {
	/*background-color: tan;*/

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;

	padding: 2.5%;
}

.icd .images-picker-row {
	display: flex;
	position: relative;
	/* Don't do this: justify-content: space-around; */
	/* Fills inside padding */
	width: 100%;
}

/* IMG CHOICES */
.icd .image-choice-container {
	/* Not really sure about this stuff */
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	box-sizing: border-box;

	/* width is 20% - (margin * 2) */
	width: 17.6%; 
	/* height auto-fits */
	margin: 1.2%;

	border: 1px solid gray;
}
.icd .image-choice-container:hover,
.icd .image-choice-container .selected {
	border: 1px solid white;
}
.icd .image-choice-container:active {
	border: 1px solid darkseagreen;
}

.icd .image-choice {
	max-width: 100%;
	max-height: 2.5rem;
	margin: .2rem;
	height: auto;
}

/*.icd .image-choice svg * {
	stroke: rgb(153, 153, 153) !important;
	fill: rgb(153, 153, 153) !important;
}*/

.icd .image-tag-list-container {
	position: relative;
	align-self: flex-end;

	width: 100%;
	/*height: 1.1rem;*/
	font-size: 12px;
}
.icd .image-tag-list-container ol {
	/* So that excess will hang out of the box */
	position: absolute;
	white-space: nowrap;
	min-width: 100%;
	width: auto;
}
.icd .image-tag-list-container li {
	padding: .1rem;
}
.icd.icon-adder .fuzzy-matched-letter {
	font-weight: bold;
	color: rgb(113, 204, 70);
}



/* --- COLOR PICKER --- */
#icd_colors_picker {
	/*background-color: firebrick;*/
}



/* --------------------------------------- */
/* --- COMMANDS --- */
/* --------------------------------------- */
.icd .adder-commands-container {
	display: flex;
	justify-content: space-between;
	padding: 1% 2%;
}

.icd .command {
	line-height: .85rem;
	border-radius: 23%;
	min-width: 0.75rem; min-height: 0.75rem;
}

.icd .apply {
	color: mediumseagreen;
	background-color: forestgreen;
}
.icd .apply:hover { color: forestgreen; background-color: mediumseagreen; }
.icd .apply:active { color: palegreen; background-color: mediumseagreen; }

.icd .exit {
	color: tomato;
	background-color: crimson;

	border-radius: 50%;
}
.icd .exit:hover { color: crimson; background-color: tomato; }
.icd .exit:active { color: salmon; background-color: tomato; }

/* Why does this one have a gap in its background when there's a lot of text? */
.icd .adder-icon-viewer-container .apply {
	margin-top: 3px;
	/* Only with a lot of text: Weird spacing, but closes the background gap */
	/*width: 1.3rem;*/
}



/* --------------------- */
/* --- DOCUMENT --- */
/* --------------------- */
body, html {
	background-color: lightgray;
	height: 100%;
	width: 100%;
}

header {
	height: 3.5rem;
}

h1 {
	margin: 0 0.2rem;
}

header, .app { width: 98.7%; }

.app {
	position: relative;
	height: calc(100% - 4.5rem);
}

/* Top-to-Bottom */
/*.editor-area, .output {
	position: absolute;
	left: 0;
	right: 0;
}

.editor-area {
	bottom: 0;
}

.output{
	top: 0;
	bottom: 301px;
	background-color: gray;
}*/

/* Side-to-Side */
.editor-area, .output {
	float: left;
	height: 100%;
	top: 0;
	bottom: 0;
}

.editor-area {
	width: 45%;
}

.output{
	width: 54.5%;
	margin-left: 0.5%;
	overflow: scroll;

	background-color: gray;
}


.footer {
	position: fixed;
	bottom: 0;
}


/* --------------------- */
/* --- TEST --- */
/* --------------------- */
.icd :focus {
	/*border: 3px solid rgb( 0, 0, 0 ) !important;*/
}

.Icon-test {
	max-width: 1rem;
	max-height: 1rem;
}

