/*purposes.css*/

/*.icd div { box-sizing: border-box; margin: 0; padding: 0; }*/

/* ================ */
/* REGULAR HTML */
/* ================ */
.icd.icon-container {
	position: relative;
	/* How to make height match editor line height? */
	height: 1.3rem;
	min-width: 2rem;
	width: auto;
	display: inline-block;
	padding: 0;
}

.icd.icon-container .center {
	display: flex;
	align-items: center;
}

.icd.icon-container .shape-part {
  /* for pos: abs svg child */
  position: relative;
  height: 100%;
  float: left;
}

/* ================ */
/* SVG BITS */
/* ================ */
.icd.icon-container svg {
  overflow: visible;
  position: absolute;
  left: 0;
}

.icd.icon-container path {
  vector-effect: non-scaling-stroke;
  stroke-width: 1px;
  stroke: black;
  fill: none;
  stroke-linejoin: round;
  shape-rendering: auto;
  stroke-alignment: inner; /* for the future! */
}

.icd.icon-container line {
  vector-effect: non-scaling-stroke;
  stroke-width: 1px;
  stroke: black;
  stroke-alignment: inner; /* for the future! */
}


/* ================ */
/* SHAPES */
/* ================ */
/* -- VERB -- */
.icd.icon-container.verb .shape-part.left,
.icd.icon-container.verb .shape-part.right {
  width: 8px
}
.icd.icon-container.verb .center {
	padding: 0;
	width: calc(100% - 16px)
}

/* -- NOUN -- */
.icd.icon-container.noun .shape-part.left,
.icd.icon-container.noun .shape-part.right {
  width: 15px
}
.icd.icon-container.noun .center {
	padding: 0;
	width: calc(100% - 30px)
}

/* -- MESSAGE/META -- */
.icd.icon-container.message .shape-part.left,
.icd.icon-container.message .shape-part.right {
  width: 10px
}
.icd.icon-container.message .center {
	padding: 0;
	width: calc(100% - 20px)
}


/* ================ */
/* MOUSEOVER TEXT */
/* ================ */
.icd .variable-name {
	/* Will be displayed with js */
	display: none;
	position: absolute;
	
	padding: 0 .2rem;
	background-color: rgb(255, 255, 255);
	text-shadow: none;
	color: black;
}


/* ================ */
/* BACKGROUNDS, ATM */
/* ================ */
.icd .icon-container.verb,
.icd .icon-container.square,
.icd .icon-container.noun,
.icd .icon-container.message {
	background: none;
}
