/*purposes.css*/

/* ================ */
/* REGULAR HTML */
/* ================ */
.icd.icon-container {
	position: relative;
	/* How to make height match editor line height? */
	height: 1rem;
	min-width: 1.5rem;
	width: auto;
	display: inline-block;
	padding: 0;
}

.icd.icon-container .shape-part {
  /* for pos: abs svg child */
  position: relative;
  height: 100%;
  float: left;
}

.icd.icon-container .center,
.icd.icon-container .icon-body {
	display: flex;
	align-items: center;
	height: 100%;
}


/* Need to somehow make this the right height */
/* http://stackoverflow.com/questions/8468066/child-inside-parent-with-min-height-100-not-inheriting-height
	Kushagra Gour's isn't working, not sure if I can get the top answer working either
Can't use position absolute for other reasons
*/
.icd.icon-container .icon-part {
	height: 70%;
	padding: 0 1%;
}

/* ================ */
/* SVG BITS */
/* ================ */
.icd.icon-container svg {
  overflow: visible;
  position: absolute;
  left: 0;
}

.icd.icon-container path {
  vector-effect: non-scaling-stroke;
  stroke-width: 1px;
  stroke: lightgray;
  fill: none;
  stroke-linejoin: round;
  shape-rendering: auto;
  stroke-alignment: inner; /* for the future! */
}

.icd.icon-container line {
  vector-effect: non-scaling-stroke;
  stroke-width: 1px;
  stroke: lightgray;
  stroke-alignment: inner; /* for the future! */
}


/* ================ */
/* SHAPES */
/* ================ */
/* -- VERB -- */
.icd.icon-container.verb .shape-part.left,
.icd.icon-container.verb .shape-part.right {
  width: 5px;
}
.icd.icon-container.verb .center {
	padding: 0;
	width: calc(100% - 10px)
}

/* -- NOUN -- */
.icd.icon-container.noun .shape-part.left,
.icd.icon-container.noun .shape-part.right {
  width: 7.5px;
}
.icd.icon-container.noun .center {
	padding: 0;
	width: calc(100% - 15px)
}

/* -- MESSAGE/META -- */
.icd.icon-container.message .shape-part.left,
.icd.icon-container.message .shape-part.right {
  width: 10px;
}
.icd.icon-container.message .center {
	padding: 0;
	width: calc(100% - 20px)
}

/* Outline in adder/icon editor */
.icd.icon-container.default {
	border: 1px dashed lightgray;
}
.icd.icon-container.default .shape-part.left,
.icd.icon-container.default .shape-part.right {
  width: 0px;
}
.icd.icon-container.default .center {
	padding: 0;
}


/* ================ */
/* MOUSEOVER TEXT */
/* ================ */
.icd.icon-container:hover .variable-name {
	display: block;
}

.icd .variable-name {
	/* Will be displayed with js */
	display: none;
	position: absolute;
	/*clear: both;*/
	top: 1rem;
	left: 0;
	
	padding: 0 .2rem;
	background-color: rgb(255, 255, 255);
	text-shadow: none;
	color: black;
}


/* ================ */
/* BACKGROUNDS, ATM */
/* ================ */
.icd.icon-container.verb,
.icd.icon-container.square,
.icd.icon-container.noun,
.icd.icon-container.message {
	background: none;
}



/* =========================== */
/* =========================== */
/* CENTERING DIFFERENT SIZED ICONS */
/* =========================== */
.icd.icon-container {
	position: relative;
	display: inline-block;
	vertical-align: baseline;

	/*transform: translate( 0, 30% );*/

	height: 1rem;

	min-width: 1.5rem;
	width: auto;
	padding: 0;

	/* For vertical centering */
	/* Takes it out of the flow, even though it's on the child */
	/*float: left;*/
	/* See http://stackoverflow.com/questions/12950479/why-does-inline-block-element-having-content-not-vertically-aligned */
	overflow: inherit;
}


